dist/*
node_modules/*
.vscode/

# service account keys
#src/*.json
.firebaserc
dist/auth-provider.d.ts
dist/auth-provider.js
dist/auth-provider.js.map
dist/config-provider.d.ts
dist/config-provider.js
dist/config-provider.js.map
dist/index.js
dist/index.js.map
node_modules/axios/node_modules/is-buffer/package.json
node_modules/axios/node_modules/is-buffer/README.md
node_modules/gcp-metadata/LICENSE
node_modules/gcp-metadata/package.json
node_modules/gcp-metadata/README.md
node_modules/gcp-metadata/build/src/index.d.ts
node_modules/gcp-metadata/build/src/index.js
node_modules/gcp-metadata/build/src/index.js.map
node_modules/google-auth-library/LICENSE
node_modules/google-auth-library/package.json
node_modules/google-auth-library/README.md
node_modules/google-auth-library/build/src/index.d.ts
node_modules/google-auth-library/build/src/index.js
node_modules/google-auth-library/build/src/index.js.map
node_modules/google-auth-library/build/src/options.d.ts
node_modules/google-auth-library/build/src/options.js
node_modules/google-auth-library/build/src/options.js.map
node_modules/google-auth-library/build/src/pemverifier.d.ts
node_modules/google-auth-library/build/src/pemverifier.js
node_modules/google-auth-library/build/src/pemverifier.js.map
node_modules/google-auth-library/build/src/transporters.d.ts
node_modules/google-auth-library/build/src/transporters.js
node_modules/google-auth-library/build/src/transporters.js.map
node_modules/google-auth-library/build/src/auth/authclient.d.ts
node_modules/google-auth-library/build/src/auth/authclient.js
node_modules/google-auth-library/build/src/auth/authclient.js.map
node_modules/google-auth-library/build/src/auth/computeclient.d.ts
node_modules/google-auth-library/build/src/auth/computeclient.js
node_modules/google-auth-library/build/src/auth/computeclient.js.map
node_modules/google-auth-library/build/src/auth/credentials.d.ts
node_modules/google-auth-library/build/src/auth/credentials.js
node_modules/google-auth-library/build/src/auth/credentials.js.map
node_modules/google-auth-library/build/src/auth/envDetect.d.ts
node_modules/google-auth-library/build/src/auth/envDetect.js
node_modules/google-auth-library/build/src/auth/envDetect.js.map
node_modules/google-auth-library/build/src/auth/googleauth.d.ts
node_modules/google-auth-library/build/src/auth/googleauth.js
node_modules/google-auth-library/build/src/auth/googleauth.js.map
node_modules/google-auth-library/build/src/auth/iam.d.ts
node_modules/google-auth-library/build/src/auth/iam.js
node_modules/google-auth-library/build/src/auth/iam.js.map
node_modules/google-auth-library/build/src/auth/jwtaccess.d.ts
node_modules/google-auth-library/build/src/auth/jwtaccess.js
node_modules/google-auth-library/build/src/auth/jwtaccess.js.map
node_modules/google-auth-library/build/src/auth/jwtclient.d.ts
node_modules/google-auth-library/build/src/auth/jwtclient.js
node_modules/google-auth-library/build/src/auth/jwtclient.js.map
node_modules/google-auth-library/build/src/auth/loginticket.d.ts
node_modules/google-auth-library/build/src/auth/loginticket.js
node_modules/google-auth-library/build/src/auth/loginticket.js.map
node_modules/google-auth-library/build/src/auth/oauth2client.d.ts
node_modules/google-auth-library/build/src/auth/oauth2client.js
node_modules/google-auth-library/build/src/auth/oauth2client.js.map
node_modules/google-auth-library/build/src/auth/refreshclient.d.ts
node_modules/google-auth-library/build/src/auth/refreshclient.js
node_modules/google-auth-library/build/src/auth/refreshclient.js.map
